/* App.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Dark theme styles */
.dark-theme {
  background-color: #4c4646;
  color: #0f0f0f;
}

/* Header Section */
header {
  background-color: rgb(20, 25, 26);
  color: #faf8f8;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

ul.contact-info {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

ul.contact-info li {
  margin: 0 1rem;
}

ul.contact-info a {
  color: #fff;
  text-decoration: none;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal.open {
  display: block; 
}

.modal-content {
  background-color: #151414;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  height: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Main Content */
main {
  overflow: hidden;
  position: relative;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  background-color: rgb(41, 47, 48);
}

.hero-content {
  flex: 1;
  padding: 2rem;
  max-width: 50%;
  color: #fff;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-content a {
  display: inline-block;
  background-color: #fff;
  color: #007bff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero-content a:hover {
  background-color: #007bff;
  color: #fff;
}

.languages-graph {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info li a {
  position: relative;
  display: inline-block;
}

.contact-info li a:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  /* visibility: hidden; */
  transition: opacity 0.2s, visibility 0.2s;
  pointer-events: none;
}

.contact-info li a:hover:before {
  opacity: 1;
  visibility: visible;
}

/* Transition between sections */
/* section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.5s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
} */
main > section {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Show sections */
main > section.show {
  opacity: 1;
  visibility: hidden;
}

/* Transitions for specific components */
.hero-section,
.about-section,
.skills-section,
.experience-section,
.projects-section {
  transition: opacity 0.5s ease-in-out;
}

.hide {
  opacity: 0;
}

/* About, Experience, and Projects sections styles */
.projects-section {
  padding: 4rem 2rem;
  background-color: rgb(24, 28, 31);
}

.about-section,
.experience-section {
  padding: 4rem 2rem;
  background-color: rgb(20, 25, 26);
}
.skills-section{
  background-color: rgb(41, 47, 48);
}
.about-section,
.skills-section {
  padding: 4rem 2rem;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: gray;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #0c0c0c;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.skill i {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.skill p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.skill:hover {
  transform: scale(1.05);
}

/* Skill-specific text colors */
.skills-container .java p {
  color: #ff5733;
}

.skills-container .python p {
  color: #3776ab;
}

.skills-container .cpp p {
  color: #5a5a5a;
}

.skills-container .sap p {
  color: #0faaff;
}

/* Add this to your existing CSS */
.skill.sap {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill.sap img {
  max-width: 100%;
  /* Ensure the SAP logo fits within its container */
  max-height: 100%;
}

.skills-container .skill-sap {
  height: 10px;
}

.skills-container .html p {
  color: #e44d26;
}

.skills-container .css p {
  color: #2965f1;
}

.skills-container .javascript p {
  color: #f7df1e;
}

.skills-container .react p {
  color: #61dafb;
}

.skills-container .angular p {
  color: #dd0031;
}

.skills-container .sql p {
  color: #f29111;
}

.skills-container .mongodb p {
  color: #47a248;
}

.skills-container .azure p {
  color: #0089d6;
}

.skills-container .restapi p {
  color: #00cc7a;
}
.skill.restapi img {
  filter: brightness(0) invert(1);
}
.skills-container .salesforce p {
  color: #1798c1;
}

.skills-container .graphQL p {
  color: #e42b97;
}
.skill.graphQL img {
  width: 100px;
  height: auto;
}

/* Add these styles at the end of your existing CSS */
.experience-item {
  display: flex;
  margin-bottom: 2rem;
}

.experience-year {
  flex: 0 0 150px;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.5rem;
  color: #007bff;
}

.experience-details {
  flex: 1;
  border-left: 3px solid #007bff;
  padding-left: 1rem;
  color: white;
}

.experience-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.experience-item p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0;
  color: white;
}

.experience-content h2,
.projects-content h2,
.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: grey;
}

.project-box {
  display: flex;
  margin-bottom: 2rem;
  background-color: rgb(20, 25, 26);
  box-shadow: 0 0 10px rgba(198, 188, 188, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-box:hover {
  transform: translateY(-5px);
}

.project-icon {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.project-icon i {
  font-size: 2rem;
}

.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: gray;
}

.project-info p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

.languages-graph {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.languages-graph img {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.languages-graph img:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer .fa {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.2s;
}

footer .fa:hover {
  color: #007bff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .projects-content {
    padding: 2rem;
  }

  .project-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-icon {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project-info {
    padding: 1.5rem;
    text-align: left;
  }

  ul.contact-info {
    justify-content: center;
  }

  ul.contact-info li {
    margin: 0 0.5rem;
  }

  ul.contact-info a i {
    font-size: 5rem;
  }

  ul.contact-info a:before {
    bottom: -35px;
    font-size: 1rem;
    padding: 4px 8px;
  }
}
